@tailwind utilities;
@tailwind base;
@tailwind components;

body {
    font-family: 'Exo 2', monospace;
}

.btn {
   background-color: black;
    color: white;
    border: antiquewhite;
    border-radius: 5px;
    border-style: dashed;
}
/* Still Dont Know How to Link this shit, but ill try anyways, this is the primary reason why i hate frameworks. */

