@tailwind utilities;
@tailwind base;
@tailwind components;

body {
    font-family: 'Exo 2', monospace;
}

.btn {
    color: black;
    border-radius: 5px;
}
/* finally equipped this shit */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.view {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: cornsilk;
}
